@charset "UTF-8";
/*-- Color --*/
.dark-grey {
  background-color: #292929 !important;
}

.tosca {
  background-color: #14A3B2 !important;
}

.white {
  background-color: white !important;
}

.grey {
  background-color: #F7F7F7 !important;
}

.red {
  background-color: #ED3A25 !important;
}

.transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}

/*-- Text Color --*/
.text-grey {
  color: #504848 !important;
}

.text-light-grey {
  color: #A5A5A5 !important;
}

.text-tosca {
  color: #14A3B2 !important;
}

/*--- Mixins ---*/
/*--- Animation ---*/
/*--- /Animation ---*/
/*--- Keyframes ---*/
/*--- /Keyframes ---*/
/*--- Transform ---*/
/*--- /Transform ---*/
/*--- Box Shadows ---*/
/*--- /Box Shadows ---*/
/*--- /Mixin ---*/
/*--- Bg Color ---*/
.black {
  background-color: black !important;
}

.transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}

.white {
  background-color: white !important;
}

.f7 {
  background-color: #f7f7f7 !important;
}

/*--- /Bg Color ---*/
/*--- Text Color ---*/
.text-black {
  color: black !important;
}

.text-white {
  color: white !important;
}

/*--- /Text Color ---*/
/*--- Text Weight ---*/
.fw-100 {
  font-weight: 100 !important;
}

.fw-200 {
  font-weight: 200 !important;
}

.fw-300 {
  font-weight: 300 !important;
}

.fw-400 {
  font-weight: 400 !important;
}

.fw-500 {
  font-weight: 500 !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.fw-700 {
  font-weight: 700 !important;
}

.fw-800 {
  font-weight: 800 !important;
}

.fw-900 {
  font-weight: 900 !important;
}

/*--- /Text Weight ---*/
/*--- Button ---*/
.btn-line-rounded {
  border-radius: 50px;
  padding: 0.356rem 0.975rem;
  transition: 0.3s all;
  cursor: pointer;
}
.btn-line-rounded:hover {
  color: white !important;
  border: 2px solid rgba(0, 0, 0, 0);
  text-decoration: none;
  transition: 0.3s all;
}

.btn-white {
  color: white !important;
  border: 2px solid white;
}
.btn-white:hover {
  background-color: white !important;
  color: black !important;
  text-decoration: none;
}

/*--- /Button ---*/
/*--- Image ---*/
.of-cover {
  object-fit: cover !important;
}

.img-circle {
  border-radius: 50%;
}

.img-zoom {
  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}

.img-rounded-5 {
  border-radius: 5px;
}

.img-rounded-10 {
  border-radius: 10px;
}

/*--- /Image ---*/
/*--- Scroll Horizontal ---*/
.scroll {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.item-scroll,
.vertical-align-middle {
  display: inline-block;
  vertical-align: middle;
}

.scroll::-webkit-scrolbar {
  display: none;
}

/*--- /Scroll Horizontal ---*/
/*-- Button --*/
.btn-nav {
  border: none;
  background: none;
}

/*-- /Button --*/
/*-- Add Style --*/
main {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
}

.bb-1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.fs-14 {
  font-size: 14pt;
}

/*-- Navbar --*/
.navbar-kb {
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  height: 80px;
  align-items: center;
  z-index: 3;
}
.navbar-kb ul li a {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.65rem 0.85rem;
  text-decoration: none;
}
.navbar-kb ul li a.btn-upload {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  padding: 0.45rem 1.25rem;
  font-weight: 300;
  font-size: 0.75rem;
}
.navbar-kb ul li a.btn-upload:hover {
  color: white !important;
}
.navbar-kb ul li a:hover {
  color: #14A3B2 !important;
}

.nav-top {
  height: 30px;
  align-items: center;
}
.nav-top .nav-top-text {
  font-size: 0.9rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.src {
  width: 23px;
}

#headerHome {
  width: 100%;
  height: 70px;
  background: white;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0);
  position: fixed;
  z-index: 2;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
#headerHome.fixed-nav {
  background: white;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
#headerHome.fixed-nav .nav-header .nav-menu li a {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
#headerHome.fixed-nav .nav-header .nav-menu li a:hover {
  background: #d58426;
  color: white;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

#header {
  width: 100%;
  height: 70px;
  background: white;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  position: fixed;
  z-index: 2;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
#header .nav-header .nav-menu li a {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
#header .nav-header .nav-menu li a:hover {
  background: #d58426;
  color: white;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.brand {
  width: 130px;
}
.brand .hamburger {
  margin-left: -0.6rem;
}

.src-m {
  width: 45px;
  height: auto;
  padding: 0.5rem;
}

.nav-header .nav-menu li a {
  color: white;
  font-weight: 700;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.nav-header .nav-menu li a:hover {
  background: #ff6a27;
  color: white;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

#header-m {
  position: fixed;
  width: 100%;
  height: 89vh;
  background: white;
  z-index: 1070;
  margin-top: 11vh;
}

.nav-menu-m li a {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16pt;
  font-weight: 700;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
.nav-menu-m li a:hover {
  background: #ff6a27;
  color: white;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.header-space {
  width: 100%;
  height: 70px;
  background: white;
}

.hamburger-inner {
  background-color: #212121;
}

.hm-d-con {
  padding-top: 10rem;
}

.navhead-m {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  height: 66px;
  position: fixed;
  z-index: 3;
  width: 100%;
  background: white;
  top: 0;
}

.space-head {
  height: 66px;
}

.nav-menu {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  height: 66px;
  z-index: 3;
  width: 100%;
  background: white;
  position: fixed;
  bottom: 0;
}

.menu-link {
  color: #2f2f2f;
  fill: #2f2f2f;
  font-size: 10pt;
  font-weight: normal;
}
.menu-link:hover {
  color: #14A3B2;
  fill: #14A3B2;
}
.menu-link.active {
  color: #14A3B2;
  fill: #14A3B2;
}
.menu-link svg {
  width: 25px;
  height: 25px;
}

.head-t {
  font-size: 17pt;
  font-weight: 500;
}

.hd-lnk-m {
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.hd-lnk-m::-webkit-scrollbar {
  height: 6px;
  background-color: #f8f8f8;
  display: none;
}
.hd-lnk-m::-webkit-scrollbar-thumb {
  background-color: #d58426;
  border-radius: 5px;
}
.hd-lnk-m::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f8f8f8;
}
.hd-lnk-m li {
  display: inline-block;
}

.hd-lnk {
  background: rgba(0, 0, 0, 0);
  padding: 6px 10px;
  border-radius: 3px;
  font-size: 12pt;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.8);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  border: 1px solid #655758;
  width: 102px;
  height: 36px;
  display: block;
  text-align: center;
}
.hd-lnk:hover {
  background: #655758;
  color: white;
  box-shadow: 0 18px 40px -12px #655758;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  text-decoration: none;
}
.hd-lnk.actived {
  background: #655758;
  color: white;
  box-shadow: 0 18px 40px -12px #655758;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  text-decoration: none;
}
.hd-lnk.lnk-filter:before {
  content: url("../img/filter.svg");
  width: 15px;
  height: 15px;
  margin-right: 0.5rem;
  color: rgba(0, 0, 0, 0.6);
}
.hd-lnk.lnk-filter:hover:before {
  content: url("../img/filter-w.svg");
}
.hd-lnk.lnk-filter.active:after {
  content: "•";
  margin-left: 0.5rem;
  color: #d58426;
}

/*-- /Navbar --*/
/*--- Main ---*/
.src-g .src-inp {
  border: none;
  background: #f8f8f8;
  height: 50px;
  border-radius: 5px;
  padding: 1rem 3.2rem 1rem 1rem;
}
.src-g .src-inp:focus {
  outline: none;
  box-shadow: none;
}
.src-g .src-inp:active {
  outline: none;
  box-shadow: none;
}
.src-g .src-img {
  top: 12px;
  right: 1rem;
  width: 21px;
}

.category-btn {
  color: #14A3B2;
  font-size: 10pt;
  padding: 0.2rem 0.75rem;
  border: 1px solid #14A3B2;
  border-radius: 20px;
  margin-bottom: 0.75rem;
  display: inline-block;
}

.tag-btn {
  background: #f8f8f8;
  color: rgba(0, 0, 0, 0.7);
  font-size: 10pt;
  padding: 0.2rem 0.75rem;
  border-radius: 20px;
  margin-bottom: 0.75rem;
  display: inline-block;
}

.brand-foot {
  width: 175px;
}

.foot-link {
  color: rgba(0, 0, 0, 0.4);
  font-size: 11pt;
  font-weight: 500;
  padding: 0 0.1rem;
}
.foot-link a {
  color: rgba(0, 0, 0, 0.4);
}

.message-notif img {
  width: 20px;
  height: 20px;
  right: 38%;
  left: auto;
}
.message-notif span {
  font-size: 0.65rem;
  right: 23%;
  left: auto;
  margin-top: -12px;
  padding: 0.25rem 0.35rem;
}

.nav-m {
  background: white;
  width: 250px;
  position: fixed;
  height: 100%;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  z-index: 3;
  display: block;
}
@media (max-width: 1199.98px) {
  .nav-m {
    display: none;
  }
}

.bg-nav {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 2;
  display: none;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
}

.header-t {
  z-index: 3;
  height: 80px;
}
@media (min-width: 768px) {
  .header-t {
    height: 110px;
  }
}

.space-header {
  height: 80px;
}
@media (min-width: 768px) {
  .space-header {
    height: 110px;
  }
}

.card-lg {
  width: 625px;
}
.card-lg .c-thumb {
  height: 145px;
}
@media (min-width: 1400px) {
  .card-lg .c-thumb {
    height: 235px;
  }
}
.card-lg .c-desc div {
  font-size: 16pt;
  font-weight: bold;
  white-space: normal;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 23px;
  max-height: 46px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.card-lg .c-akun div {
  font-size: 10pt;
  font-weight: normal;
  white-space: normal;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}
.card-lg .c-akun div img {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 10px;
}

.card-md .c-thumb {
  height: 90px;
}
@media (min-width: 768px) {
  .card-md .c-thumb {
    height: 100px;
  }
}
@media (min-width: 992px) {
  .card-md .c-thumb {
    height: 155px;
  }
}
@media (min-width: 1400px) {
  .card-md .c-thumb {
    height: 165px;
  }
}
.card-md .c-desc div {
  font-size: 13pt;
  font-weight: bold;
  white-space: normal;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 23px;
  max-height: 46px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media (min-width: 1400px) {
  .card-md .c-desc div {
    font-size: 16pt;
  }
}
.card-md .c-akun div {
  font-size: 10pt;
  font-weight: normal;
  white-space: normal;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}
@media (min-width: 1400px) {
  .card-md .c-akun div {
    font-size: 12pt;
  }
}
.card-md .c-akun div img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 10px;
}

.card-2 {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.card-2:hover {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  cursor: pointer;
}
.card-2 .c-thumb-2 {
  width: 100%;
  height: 195px;
  position: relative;
  display: inline-block;
  margin-bottom: 0.5rem;
}
@media (min-width: 768px) {
  .card-2 .c-thumb-2 {
    height: 104px;
  }
}
@media (min-width: 992px) {
  .card-2 .c-thumb-2 {
    height: 150px;
  }
}
@media (min-width: 1400px) {
  .card-2 .c-thumb-2 {
    width: 222px;
    height: 150px;
    margin-bottom: 0;
  }
}
.card-2 .c-desc-2 {
  max-width: 650px;
  display: inline-block;
}
.card-2 .c-desc-2 .d-t-2 {
  font-size: 14pt;
  font-weight: bold;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 22px;
  max-height: 66px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
@media (min-width: 1400px) {
  .card-2 .c-desc-2 .d-t-2 {
    font-size: 16pt;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    line-height: 22px;
    max-height: 44px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
.card-2 .c-desc-2 .d-inf-2 {
  font-size: 10pt;
  font-weight: normal;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 18px;
  max-height: 36px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
@media (min-width: 1400px) {
  .card-2 .c-desc-2 .d-inf-2 {
    font-size: 12pt;
  }
}
.card-2 .c-desc-2 .d-akun-2 div {
  font-size: 10pt;
  font-weight: normal;
  white-space: normal;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}
@media (min-width: 1400px) {
  .card-2 .c-desc-2 .d-akun-2 div {
    font-size: 12pt;
  }
}
.card-2 .c-desc-2 .d-akun-2 div img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 25px;
  margin-right: 10px;
}

.card-sm {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.card-sm:hover {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  cursor: pointer;
}
.card-sm .c-thumb-sm {
  width: 132px;
  height: 85px;
  position: relative;
  display: inline-block;
}
@media (min-width: 1400px) {
  .card-sm .c-thumb-sm {
    width: 116px;
    height: 83px;
  }
}
.card-sm .c-thumb-sm .thumb-cnt-sm div {
  font-size: 8pt;
  z-index: 1;
}
@media (min-width: 1400px) {
  .card-sm .c-thumb-sm .thumb-cnt-sm div {
    font-size: 10pt;
  }
}
.card-sm .c-desc-sm {
  max-width: 650px;
  display: inline-block;
}
.card-sm .c-desc-sm .d-t-sm {
  font-size: 9pt;
  font-weight: bold;
  cursor: pointer;
}
@media (min-width: 1400px) {
  .card-sm .c-desc-sm .d-t-sm {
    font-size: 12pt;
  }
}
.card-sm .c-desc-sm .d-cat-sm {
  font-size: 9pt;
  font-weight: normal;
  cursor: pointer;
}
@media (min-width: 1400px) {
  .card-sm .c-desc-sm .d-cat-sm {
    font-size: 11pt;
  }
}
.card-sm .c-desc-sm .d-inf-sm {
  font-size: 9pt;
  font-weight: normal;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}
@media (min-width: 1400px) {
  .card-sm .c-desc-sm .d-inf-sm {
    font-size: 11pt;
  }
}

.high-sec {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.high-sec::-webkit-scrollbar {
  height: 4px;
  background-color: #f8f8f8;
}
.high-sec::-webkit-scrollbar-thumb {
  background-color: #14A3B2;
  border-radius: 5px;
}
.high-sec::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f8f8f8;
}

.swip-prev {
  cursor: pointer;
  background: white;
  border-radius: 50px;
  padding: 0.35rem 0.75rem;
  margin-right: 0.5rem;
}
.swip-prev img {
  width: 12px;
  height: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.swip-prev:focus {
  outline: 0;
  box-shadow: none;
}
.swip-prev:active {
  outline: 0;
  box-shadow: none;
}

.swip-next {
  cursor: pointer;
  background: white;
  border-radius: 50px;
  padding: 0.35rem 0.75rem;
}
.swip-next img {
  width: 12px;
  height: auto;
}
.swip-next:focus {
  outline: 0;
  box-shadow: none;
}
.swip-next:active {
  outline: 0;
  box-shadow: none;
}

.p-main {
  padding-left: 250px;
}
@media (max-width: 1199.98px) {
  .p-main {
    padding-left: 0;
  }
}

.swiper-wrapper {
  display: block !important;
  white-space: nowrap;
}

.subs-card {
  background: #f7f7f7;
  width: 100%;
  padding: 2rem 1rem;
}
@media (max-width: 991.98px) {
  .subs-card {
    width: 100%;
  }
}
.subs-card .subs-t {
  font-size: 16pt;
}
.subs-card .s-form form input[type=text] {
  padding: 0.5rem 1rem;
  font-size: 11pt;
  width: 260px;
  height: 48px;
  text-align: center;
}
@media (min-width: 768px) {
  .subs-card .s-form form input[type=text] {
    width: 238px;
    height: 48px;
  }
}
.subs-card .s-form form input[type=button] {
  padding: 0.5rem 1rem;
  font-size: 11pt;
  width: 260px;
  height: 48px;
  text-align: center;
  border: none;
  color: #ffffff;
  background: #ed3a25;
}
@media (min-width: 768px) {
  .subs-card .s-form form input[type=button] {
    width: 238px;
    height: 48px;
  }
}

.c-shadow {
  box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.14);
}

.t-desc {
  font-size: 12pt;
  font-weight: normal;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

.high-c .owl-nav {
  position: absolute;
  top: 0;
  display: inline-block !important;
  right: 0;
  margin-top: -63px;
  margin-right: -5px;
}
.high-c .owl-nav .owl-prev {
  background: white !important;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
}
.high-c .owl-nav .owl-prev:focus {
  outline: none;
  box-shadow: none;
}
.high-c .owl-nav .owl-prev:active {
  outline: none;
  box-shadow: none;
}
.high-c .owl-nav .owl-prev img {
  width: 12px;
  height: 12px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.high-c .owl-nav .owl-next {
  background: white !important;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
}
.high-c .owl-nav .owl-next:focus {
  outline: none;
  box-shadow: none;
}
.high-c .owl-nav .owl-next:active {
  outline: none;
  box-shadow: none;
}
.high-c .owl-nav .owl-next img {
  width: 12px;
  height: 12px;
}

/*--- /Main ---*/

/*# sourceMappingURL=style.css.map */
